This bot helps you manage orders for restaurants that use all-you-can-eat formula.

<b>Usage example:</b>
# create a new order called 'my-order' for the current chat
/createOrder my-order
# join the order 'my-order'
/joinOrder my-order
# add menu number 6 one time (labelling it 'sashimi')
/addDish 6 1 sashimi
# add menu number 55 three times (labelling it 'nigiri')
/addDish 22 3 nigiri
# adds menu number 42 one time (it will not be labelled)
/addDish 42
# labels menu number 42 as 'uramaki'
/nameDish 42 uramaki
# close the order 'my-order' to prevent further modifications
/closeOrder my-order

To know the list of all the supported commands type /help
